#progress-bar{
    position: relative;
    height: 30px;
    width: 100%;

    background: #c0c0c0;

}
#green{
    background: #2d800f;
    height: 30px;

    position: absolute;
    top:0;
    left: 0;
}
#bar-wrap{
    margin: 5px;
}

#bar-text{

    height: 30px;
    color:#fff;
    z-index: 3;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 18px;
}
#bad-videos{
    margin: 10px;
    height: 400px;
    display: inline-block;
    overflow: scroll;
}