.com-f .top-b input:focus,.com-f textarea:focus {
    outline-color: #ffb324
}

.btn-comment {
    width: 30%;
    font-size: 1.1em;
    margin-left: 20px;
}

.comment_show {
    background: 0 0
}

#comment {
    margin-top: 10px;
    width: 50%;
    margin-left: 20px;
}

#comment #c_publish,#comment #c_show {
    width: 60%;
    font-size: 1.1em;
    background: 0 0;
}

.com-f {
    width: 80%;
    margin: 0 auto
}

.com-f .top-b {
    font-size: 0
}

.com-f .top-b input,.com-f textarea {
    font-size: 15px;
    font-family: Arial,Helvetica,sans-serif;
    padding: 3px
}

.com-f .top-b input {
    vertical-align: middle;
    margin: 0;
    border: 1px solid #a9a9a9;
    width: 43%
}

.com-f .top-b input:first-child {
    margin-right: 4%
}

.com-f .top-b .email-tylt {
    vertical-align: middle;
    display: inline-block;
    width: 10%;
    text-align: center
}

.com-f .top-b .email-tylt img {
    width: 22px;
    height: 22px
}

.com-f textarea {
    margin-top: 5px;
    width: 100%;
    resize: none
}

.com_list .item {
    margin: 10px 0
}

.com_list .item .item {
    margin: 2px 0 2px 40px
}

.com_list .item .avatar {
    width: 20%;
    float: left
}

.com_list .item .avatar img {
    width: 100%
}

.com_list .item .text {
    min-height: 85px;
    color: #888;
    width: 75%;
    margin-left: 5%;
    float: left;
    background: #fff
}

.com_list .item .text .hdr {
    margin-bottom: 10px;
    color: #333
}

.com_list .item .text .hdr .name {
    font-size: 1.1em;
    float: left;
    width: 55%
}

.com_list .item .text .hdr .date {
    float: right;
    width: 45%;
    font-size: .8em;
    text-align: right
}

.com_list .item .text p {
    font-size: 1em;
    line-height: 1.5;
    font-family: sans-serif,arial
}

.com_list .item .ans {
    color: rgba(22,22,22,.91);
    border-bottom: 1px solid rgba(22,22,22,.24);
    font-size: .8em;
    float: right;
    cursor: pointer
}
