@charset "UTF-8";#play-border-my,.audioplayer {
    height: 2.5em;
    -webkit-filter: none
}

.audio-list,.audio-name {
    color: #ffb324;
    text-overflow: ellipsis
}

.audio-list,.audio-name,.mult-music-player li {
    overflow: hidden;
    white-space: nowrap
}

.audioplayer-volume:not(:hover) .audioplayer-volume-adjust,.mult-music-player .icon-play {
    opacity: 0
}

.mult-music-poster {
    float: left;
    vertical-align: top;
    margin: 1%;
    width: 31%;
    border-radius: 15px;
    box-shadow: inset 0 0 15px 5px #000
}

.mult-music-poster img {
    width: 100%
}

.play-border-right {
    width: 1px;
    height: 2.5em;
    background-color: rgba(165,167,169,.35);
    left: 2.575em;
    top: 0;
    position: absolute
}

#play-border-my {
    border-left: 1px solid rgba(165,167,169,.35);
    width: 0;
    left: 2.5em;
    top: 0
}

.audioplayer {
    border: 1px solid rgba(165,167,169,.35);
    background-color: rgba(219,219,219,0);
    background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,.088),rgba(255,255,255,.15));
    background-image: -moz-linear-gradient(bottom,rgba(0,0,0,.088),rgba(255,255,255,.15));
    background-image: -o-linear-gradient(bottom,rgba(0,0,0,.088),rgba(255,255,255,.15));
    background-image: -ms-linear-gradient(bottom,rgba(0,0,0,.088),rgba(255,255,255,.15));
    background-image: linear-gradient(to top,rgba(0,0,0,.088),rgba(255,255,255,.15));
    position: relative;
    z-index: 1
}

.audioplayer-mini {
    width: 2.5em;
    margin: 0 auto
}

.audioplayer>div {
    position: absolute
}

.audioplayer-playpause {
    width: 2.5em;
    height: 100%;
    text-align: left;
    text-indent: -9999px;
    cursor: pointer;
    z-index: 2;
    top: 0;
    left: 0
}

.audioplayer-mini .audioplayer-playpause {
    width: 100%
}

.audioplayer-playpause a {
    display: block
}

.audioplayer-stopped .audioplayer-playpause a {
    width: 0;
    height: 0;
    border: .5em solid transparent;
    border-right: none;
    border-left-color: #000;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -.5em 0 0 -.25em
}

.audioplayer-playing .audioplayer-playpause a {
    width: .75em;
    height: .75em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -.375em 0 0 -.375em
}

.audioplayer-playing .audioplayer-playpause a:after,.audioplayer-playing .audioplayer-playpause a:before {
    width: 40%;
    height: 100%;
    background-color: #000;
    content: '';
    position: absolute;
    top: 0
}

.audioplayer-playing .audioplayer-playpause a:before {
    left: 0
}

.audioplayer-playing .audioplayer-playpause a:after {
    right: 0
}

.audioplayer-time {
    display: none;
    width: 4.375em;
    height: 100%;
    line-height: 2.375em;
    text-align: center;
    z-index: 2;
    top: 0
}

.audioplayer-time-current {
    border-left: 1px solid #111;
    border-left-color: rgba(0,0,0,.25);
    left: 2.5em
}

.audioplayer-time-duration {
    border-right: 1px solid #555;
    border-right-color: rgba(255,255,255,.1);
    right: 2.5em
}

.audioplayer-novolume .audioplayer-time-duration {
    border-right: 0;
    right: 0
}

.audioplayer-bar {
    background-color: rgba(136,169,189,.23);
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,.2),rgba(255,255,255,.2));
    background-image: -moz-linear-gradient(top,rgba(0,0,0,.2),rgba(255,255,255,.2));
    background-image: -o-linear-gradient(top,rgba(0,0,0,.2),rgba(255,255,255,.2));
    background-image: -ms-linear-gradient(top,rgba(0,0,0,.2),rgba(255,255,255,.2));
    background-image: linear-gradient(to bottom,rgba(0,0,0,.2),rgba(255,255,255,.2));
    height: .875em;
    cursor: pointer;
    z-index: 1;
    top: 50%;
    right: 2.875em;
    left: 2.875em;
    margin-top: -.438em
}

.audioplayer-novolume .audioplayer-bar {
    right: 4.375em
}

.audioplayer-bar div {
    width: 0;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0
}

.audioplayer-bar-loaded {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: #828282;
    z-index: 1
}

.audioplayer-bar .audioplayer-bar-played {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: #ff9a00;
    background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,.31),rgba(255,255,255,.31));
    background-image: -moz-linear-gradient(bottom,rgba(0,0,0,.31),rgba(255,255,255,.31));
    background-image: -o-linear-gradient(bottom,rgba(0,0,0,.31),rgba(255,255,255,.31));
    background-image: -ms-linear-gradient(bottom,rgba(0,0,0,.31),rgba(255,255,255,.31));
    background-image: linear-gradient(to top,rgba(0,0,0,.31),rgba(255,255,255,.31))
}

.audioplayer-bar-played {
    z-index: 2
}

.audioplayer-volume {
    width: 2.5em;
    height: 100%;
    border-left: 1px solid rgba(165,167,169,.35);
    text-align: left;
    text-indent: -9999px;
    cursor: pointer;
    z-index: 2;
    top: 0;
    right: 0
}

.audioplayer-volume-button a {
    width: .313em;
    height: .375em;
    background-color: #000;
    display: block;
    position: relative;
    z-index: 1;
    top: 40%;
    left: 35%
}

.audioplayer-bar,.audioplayer-novolume .audioplayer-volume {
    display: none
}

.audioplayer:not(.audioplayer-muted) .audioplayer-volume-button a:after {
    width: .313em;
    height: .313em;
    border: .25em double #fff;
    border-width: .25em .25em 0 0;
    left: .563em;
    top: -.063em;
    -webkit-border-radius: 0 .938em 0 0;
    -moz-border-radius: 0 .938em 0 0;
    border-radius: 0 .938em 0 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

.audioplayer-volume-adjust {
    height: 6.25em;
    cursor: default;
    position: absolute;
    left: 0;
    right: -1px;
    top: -9999px
}

.audioplayer-volume:hover .audioplayer-volume-adjust {
    top: auto;
    bottom: 100%;
    border: 1px solid rgba(165,167,169,.35);
    background: rgba(244,236,236,.61)
}

.audioplayer-volume-adjust>div {
    width: 40%;
    height: 80%;
    background-color: rgba(0,0,0,.088);
    cursor: pointer;
    position: relative;
    z-index: 1;
    margin: 30% auto 0
}

.audioplayer-bar-played {
    background: -webkit-gradient(linear,left top,right top,from(#007fd1),to(#c600ff));
    background: -webkit-linear-gradient(left,#007fd1,#c600ff);
    background: -moz-linear-gradient(left,#007fd1,#c600ff);
    background: -ms-radial-gradient(left,#007fd1,#c600ff);
    background: -o-linear-gradient(left,#007fd1,#c600ff);
    background: linear-gradient(to right,#007fd1,#c600ff)
}

.audioplayer-volume-adjust div div {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #ffb324
}

.audioplayer-bar,.audioplayer-bar div,.audioplayer-volume-adjust div {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.audioplayer {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}

.audioplayer-volume-adjust {
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px
}

.audioplayer *,.audioplayer :after,.audioplayer :before {
    -webkit-transition: color .25s ease,background-color .25s ease,opacity .5s ease;
    -moz-transition: color .25s ease,background-color .25s ease,opacity .5s ease;
    -ms-transition: color .25s ease,background-color .25s ease,opacity .5s ease;
    -o-transition: color .25s ease,background-color .25s ease,opacity .5s ease;
    transition: color .25s ease,background-color .25s ease,opacity .5s ease
}

.mult-music-player {
    width: 48%
}

.audio-list h2:before {
    font-family: FontAwesome;
    content: "\f04b";
    cursor: pointer
}

.mult-music-main {
    float: left;
    margin: 1%;
    width: 62%
}

.audio-name span {
    display: table-cell;
    vertical-align: middle
}

.audio-name {
    width: 80%;
    display: table;
    height: 100%;
    text-align: center;
    cursor: pointer;
    z-index: 1;
    right: 2.5em;
    left: 2.875em
}

.audio-list {
    cursor: pointer;
    height: 24px;
    font-size: 12px
}

.mult-music-player li {
    cursor: pointer;
    margin-bottom: 1px;
    padding-bottom: 1px
}

.audioplayer-playpause div,.audioplayer-volume-button {
    margin: 20%;
    width: 60%;
    height: 60%;
    background-size: cover
}

.audioplayer-playpause div {
    position: absolute;
    -webkit-transition: none;
    transition: none;
    -webkit-filter: none
}

.audioplayer-playpause {
    transition: none;
    filter: none
}

.audioplayer-playpause[title=Play] div {
    background-image: url(/img/player-play-image1.png);
    box-shadow: none;
    transition: none
}

.audioplayer-playpause[title=Play] div:hover {
    background-image: url(/img/player-play-image1-hover.png)
}

.audioplayer-playpause[title=Pause] div {
    background-image: url(/img/pause.png)
}

.audioplayer-playpause[title=Pause] div:hover {
    background-image: url(/img/pause-hover.png)
}

.audioplayer-volume-button {
    background-repeat: no-repeat;
    background-image: url(/img/volume.png)
}

.audioplayer-volume:hover .audioplayer-volume-button {
    background-image: url(/img/volume-hover.png)
}

.audioplayer-muted .audioplayer-volume-button {
    background-image: url(/img/NoVolume.png);
    margin: 10%;
    width: 80%;
    height: 80%
}

.audioplayer-muted .audioplayer-volume:hover .audioplayer-volume-button {
    background-image: url(/img/NoVolumeHover.png)
}

.play-icon {
    display: inline-block;
    opacity: 0;
    background-image: url(/img/player-play-image1.png);
    background-size: cover;
    margin-right: 5px
}

.mult-music-player li span {
    padding-bottom: 0;
    border-bottom: 1px solid rgba(165,167,169,.35)
}

.mult-music-player li:hover span {
    padding-bottom: 0;
    border-bottom: 1px solid #FFB324;
    color: #FFB324
}

.mult-music-player li[status=play]:hover .play-icon {
    background-image: url(/img/playerPlayImage1Hover.png)
}
