#order {
    width: 90%;
    margin: 0 auto;
}

#order .success_title {
    display: none;
    text-align: center;
    margin: 5px 0;
    color: #fff;
    padding: 2px
}

#order .success {
    background-color: rgba(20,189,20,.72)
}

#order .error {
    background-color: #d43f3a
}

.req {
    margin: 0 2px;
    color: #790000
}

.order_item {
    margin: 10px 0
}

.order_item .poster {
    width: 20%;
    float: left;
    text-align: right
}

.order_item .poster img {
    width: 100%
}

.order_item .text {
    float: right;
    width: 77%
}

.order_item .text b {
    font: 16px Georgia;
    font-weight: 500;
    font-size: 1.1em
}

.separator_order {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,transparent,#ffb324,transparent);
    background-image: -moz-linear-gradient(left,transparent,#ffb324,transparent);
    background-image: -ms-linear-gradient(left,transparent,#ffb324,transparent);
    background-image: -o-linear-gradient(left,transparent,#ffb324,transparent)
}

.order_admin_form input[type=email],.order_admin_form input[type=text],.order_admin_form textarea {
    margin: 2px 0;
    font-size: .9em;
    width: 100%
}
