 .promo .diff .item .text,.promo .info .item .text,.promo .loves .text,.promo .we-have .item .text {
      font-weight: 100;
      text-align: center
  }

  .promo section {
      margin: 4% 0
  }

  .promo .logo {
      margin: 0;
      text-align: center
  }

  .promo .logo h2 {
      display: inline;
      font-size: 2em;
      vertical-align: middle
  }

  .promo .loves div,.promo .promo-slider ul.slider-quoter .item .poster,.promo .promo-slider ul.slider-quoter .item .right {
      display: inline-block;
      vertical-align: middle
  }

  .promo .logo img {
      vertical-align: middle
  }

  .promo .we-have .item {
      width: 15.6%;
      margin: 0 .5%;
      float: left
  }

  .promo .we-have .item img {
      width: 80%;
      margin-left: 10%
  }

  .promo .we-have .item .text {
      font-size: 1.1em
  }

  .promo .m-color img,.promo .minions img,.promo .tom-jerry img {
      width: 29%;
      margin: 0 2%;
      float: left
  }

  .promo .diff .item {
      width: 13%;
      margin: 0 10%;
      float: left
  }

  .promo .diff .item img {
      width: 100%
  }

  .promo .diff .item .text {
      font-size: 1.2em
  }

  .promo .loves {
      font-size: 0
  }

  .promo .loves .text {
      font-size: 20px;
      color: #696969;
      width: 40%
  }

  .promo .loves .img img {
      width: 100%
  }

  .promo .loves div {
      width: 20%
  }

  .promo .info .item {
      width: 23.5%;
      margin-left: 2%;
      float: left
  }

  .promo .info .item:last-child {
      margin: 0
  }

  .promo .info .item .text {
      font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
      color: #696969;
      font-size: 1.3em
  }

  .promo .info .item .text.gold {
      font-family: Arial;
      color: #ffb324;
      font-size: 1.4em;
      font-weight: 300
  }

  .promo .promo-slider #slider-quoter {
      width: 80%;
      margin: 0 auto
  }

  .promo .promo-slider ul.slider-quoter .item .poster {
      width: 20%
  }

  .promo .promo-slider ul.slider-quoter .item .poster img {
      width: 100%;
      border-radius: 100px
  }

  .promo .promo-slider ul.slider-quoter .item .right {
      font-size: 1.2em;
      font-weight: 100;
      width: 80%;
      text-align: center;
      padding-left: 2%
  }

  .promo .promo-slider ul.slider-quoter .item .right .text:before {
      font-family: sans-serif,arial;
      color: #bbb;
      content: "\201C";
      font-size: 3em;
      line-height: .1em;
      margin-right: .2em;
      vertical-align: -.4em
  }

  .promo .promo-slider ul.slider-quoter .item .right .text:after {
      font-family: sans-serif,arial;
      color: #bbb;
      content: "\201D";
      font-size: 3em;
      line-height: .1em;
      vertical-align: -.45em
  }

  .promo .promo-slider ul.slider-quoter .item .right .author {
      text-align: right;
      margin-top: 2% 0
  }

  .promo .promo-slider ul.slider-quoter .item .right .author a {
      color: #161616
  }

  .promo .promo-slider ul.slider-quoter .item .right .author a:hover {
      color: #ffb324
  }

  .promo .promo_reg {
      text-align: center
  }

  .promo .promo_reg #promo-reg-btn {
      width: 20%
  }

  .promo .promo_reg #promo_email {
      font-size: .9em;
      padding: 5px;
      width: 30%;
      height: 38px;
      color: #b1aeae;
      border: 1px solid #ccc
  }

  .promo .promo_reg #promo_email:focus {
      outline-color: #ffb324
  }

  .es-carousel {
    overflow: hidden;
  }

  .es-nav span {
    position: absolute;
    top: 50%;
    left: -62px;
    background: url(/public/img/slider-but.png) no-repeat;
    width: 52px;
    height: 70px;
    margin-top: -35px;
    text-indent: -9000px;
    cursor: pointer;
    opacity: .8;
  }

  .es-nav span.es-nav-next {
    right: -62px;
    left: auto;
    background-position: -52px 0;
  }