@charset "UTF-8";.feedback input:active,.feedback input:focus,.feedback textarea:active,.feedback textarea:focus,input[type=email]:focus,input[type=text]:focus,textarea:focus {
    outline-color: #ffb324
}

.back,.btn,.items .item .title,.mainWrap .title,.mainWrap nav,.reg-btn,footer,h1,h2 {
    text-align: center
}

body,header {
    max-width: 1600px
}

.menu li a,.mobile-menu:hover,a,a:hover,footer a {
    text-decoration: none
}

.btn,.cat .text .tbl span,.menu li {
    vertical-align: middle
}

#preloader div,.btn,.cat,.cp,.m-cnt .text .t-btn,.m-cnt .text .text-s,.m-i a,.m-i span,.reg-btn,.sbmBtn,.sktch .repost div {
    cursor: pointer
}

input[type=email],input[type=text],textarea {
    height: 38px;
    padding: 5px;
    font-size: 20px;
    margin: 10px 0;
    width: 50%;
    color: #161616
}

textarea {
    resize: none;
    width: 80%;
    height: 100px
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px
}

.menu .logo,.menu .logo a {
    height: 43px;
    width: 43px;
    padding: 0
}

.btn-default {
    color: #ffb324;
    background: 0 0;
    border-color: #ffb324;
    font-size: 1.2em;
    margin: 10px 0;
    border-radius: 0;
    outline: 0
}

.btn-default:focus,.btn-default:hover {
    color: #fff;
    background-color: #ffb324;
    border-color: #ffb324
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c
}

.btn-success:focus,.btn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a
}

.btn-danger:focus,.btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925
}

@font-face {
    font-family: fontello;
    src: url(/public/font/fontello.eot?66379423);
    src: url(/public/font/fontello.eot?66379423#iefix) format("embedded-opentype"),url(/public/font/fontello.woff?66379423) format("woff"),url(/public/font/fontello.ttf?66379423) format("truetype"),url(/public/font/fontello.svg?66379423#fontello) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Roboto;
    src: url(/public/font/roboto-thin.ttf);
    font-style: normal;
    font-weight: 100
}

@font-face {
    font-family: Roboto;
    src: url(/public/font/roboto-light.ttf);
    font-style: normal;
    font-weight: 300
}

.menu li.nohover {
    position: static
}

.menu .logo {
    margin: 0
}

.menu .logo a {
    background-image: url(/public/img/logo_white.png);
    background-size: cover
}

.menu .logo a:hover {
    background-image: url(/public/img/logo_gold.png)
}

.menu li .search {
    margin-right: 10px
}

.menu li .search input {
    margin: 1px;
    background: linear-gradient(to bottom,#FEDC9B,#ECCA89);
    width: 94%;
    padding: 2%;
    border: none
}

#touch-menu,.menu,.menu ul,.mobile-menu {
    width: 100%
}

.menu li .search input:active,.menu li .search input:focus {
    margin: 0;
    border: 1px solid #fff;
    outline: 0
}

.mainWrap .title {
    margin: 100px 0 20px;
    color: #3E4156
}

.mainWrap nav {
    display: block;
    background: #FFB324;
    font: 14px "Open Sans",Helvetica,Arial,sans-serif;
    line-height: 1.5em;
    top: 0;
    z-index: 999;
    width: 100%
}

.menu {
    display: table
}

.menu li ul li {
    font-size: .9em
}

.menu li {
    display: table-cell;
    font-size: 1.2em;
    position: relative;
    z-index: 100
}

.menu li:first-child {
    margin-left: 0
}

.menu li a {
    font-weight: 500;
    display: block;
    color: #fff;
    padding: 11px 2px;
    -webkit-transition: all .2s ease-in-out 0s;
    -moz-transition: all .2s ease-in-out 0s;
    -o-transition: all .2s ease-in-out 0s;
    -ms-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s
}

.menu li:hover {
    background-color: #fff
}

.menu li a:hover,.menu li:hover>a {
    color: #FFB324;
    background-color: #fff
}

.menu li.nohover:hover {
    background-color: #FFB324
}

.menu ul {
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 43px;
    left: 0;
    background: #fff
}

.menu li:hover>ul,.menu ul li,.menu ul li a {
    display: block
}

.menu ul li {
    float: none;
    background: 0 0;
    margin: 0;
    padding: 0
}

.menu ul li a {
    font-family: Roboto,"Helvetica Neue",Helvetica,A rial,sans-serif;
    font-weight: 300;
    color: #161616;
    font-size: 1em;
    border-left: 3px solid #fff;
    background: #fff
}

.menu ul li a:hover,.menu ul li:hover>a,.mobile-menu {
    background: #FFB324;
    color: #fff
}

.menu ul ul {
    left: 149px;
    top: 0
}

.mobile-menu {
    display: none;
    padding: 11px;
    text-transform: uppercase;
    font-weight: 600
}

.mobile-menu:hover {
    background: #9b60a0;
    color: #fff
}

@media (min-width: 979px) and (max-width:1100px) {
    .menu ul {
        top:37px
    }

    .menu li a {
        font-size: 12px;
        padding: 8px
    }
}

@media (min-width: 768px) and (max-width:979px) {
    .mainWrap {
        width:768px
    }

    .menu ul {
        top: 37px
    }

    .menu li a {
        font-size: 12px;
        padding: 8px
    }
}

@media (max-width: 1023px) {
    .menu li,nav {
        margin:0
    }

    nav {
        position: static;
        background: 0 0
    }

    .mainWrap {
        width: auto
    }

    .mainWrap nav {
        position: STATIC
    }

    .menu {
        display: none
    }

    .menu li,.menu ul,.mobile-menu {
        display: block
    }

    .menu li a {
        background: #fff;
        color: #797979;
        border-top: 1px solid #e0e0e0;
        border-left: 3px solid #fff
    }

    .menu li a:hover,.menu li:hover>a {
        background: #f0f0f0;
        color: #797979;
        border-left: 3px solid #9CA3DA
    }

    .menu ul {
        position: relative;
        top: 0;
        left: 0;
        width: 100%
    }

    .menu ul ul {
        left: 0
    }
}

body,html {
    background: #f2f2f2
}

footer a,h1 a,h2 a {
    color: #161616
}

@media (max-width: 480px) {
    nav {
        position:relative
    }
}

@media (max-width: 320px) {
    nav {
        position:relative
    }
}

.menu li.menuMainPgage {
    display: none
}

@media (max-width: 1023px) {
    .menu li:hover>ul {
        display:none
    }

    .menu li.menuMainPgage {
        display: block
    }

    .menu li.logo.sprite-sprite,.menu li.nohover,ul.sub-menu {
        display: none
    }
}

* {
    margin: 0;
    padding: 0;
    webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

h1,h2 {
    font-weight: 100;
    margin: 1%
}

.dn {
    display: none
}

li {
    list-style: none
}

body {
    font: 16px Roboto,Helvetica,Arial,sans-serif;
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 0 40px rgba(0,0,0,.1)
}

.quote blockquote,.quotes .item .right .text {
    font-style: italic
}

.sp2 {
    font-size: 1.5em
}

.s3 {
    font-size: 1.2em
}

a:hover {
    color: #ffb324
}

footer {
    padding: 2%;
    border-top: 1px solid #C9CBCB
}

footer a {
    background: 0 0
}

.studio-items {
    margin-bottom: 3%;
    font-size: 0
}

.studio-items a {
    width: 10%;
    margin: 0 2%;
    display: inline-block
}

.studio-items img {
    width: 100%;
    transition: all 2s;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%)
}

.studio-items img:hover {
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0)
}

.clr:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

.content {
    width: 75%;
    padding: 1% 0;
    float: left
}

.quotes,.sidebar {
    float: right
}

.sidebar {
    width: 25%;
    padding: 1%;
    position: relative;
    z-index: 1
}

.items .item,.m-tags li,.mult-i,.primera,.reg-btn,.soz-b a,.upd-img a {
    float: left
}

.reg-btn {
    width: 48%;
    border: 1px solid #C9CBCB;
    padding: 5px;
    height: 38px;
    box-sizing: border-box
}

.blue-btn {
    margin-left: 4%;
    background: rgba(95,131,170,.76);
    border: 1px solid #5F83AA
}

.blue-btn div {
    margin: 0 auto
}

.rd-m .mult-i {
    width: 48%;
    margin-right: 4%
}

.rd-m .mult-i:last-child {
    margin: 0
}

.rd-m .mult-i .text {
    width: 100%;
    text-align: center;
    background: linear-gradient(to top,rgba(0,0,0,.54),rgba(53,48,48,0))
}

.rd-a .image-wrap img {
    width: 100%
}

.rd-a .image-wrap:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-image: -webkit-linear-gradient(top,transparent 40%,rgba(0,0,0,.6));
    background-image: -moz-linear-gradient(top,transparent 40%,rgba(0,0,0,.6));
    background-image: linear-gradient(top,transparent 40%,rgba(0,0,0,.6))
}

.rd-a .item.withImage span {
    position: absolute;
    left: 20px;
    right: 10px;
    bottom: 10px;
    color: #fff;
    z-index: 2
}

.rd-a .item.withImage:before {
    top: 85%;
    bottom: 0;
    background: rgba(255,255,255,.3)
}

.rd-a .item.withImage:after {
    top: 85%;
    color: #fff
}

.rd-a .item {
    position: relative
}

.rd-a .item span {
    color: #161616;
    font-size: .9em
}

.rd-a .item:last-child:before {
    bottom: 50%
}

.rd-a .item:not(.withImage) {
    margin: 0 0 20px;
    padding: 0 0 0 20px
}

.rd-a .item:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 7px;
    bottom: -20px;
    width: 1px;
    background: rgba(0,0,0,.1)
}

.sm-l .blk,.sm-l .text,.sm-l img {
    width: 100%
}

.shd,.sm-l .blk {
    background: linear-gradient(to top,rgba(0,0,0,.54),rgba(53,48,48,0))
}

.rd-a .item:after {
    content: "\2022";
    position: absolute;
    z-index: 1;
    left: 5px;
    top: 50%;
    margin-top: -8px;
    font-size: 14px;
    color: rgba(0,0,0,.7);
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    transition: color .2s ease
}

#preloader div img,#preloader img {
    transition: transform 1s;
    transform: rotate(0)
}

.sm-l .blk {
    height: 100%;
    top: 0;
    left: 0;
    position: absolute
}

.m-tags li {
    display: inline-block;
    margin-right: 4px;
    border-right: 1px solid #FFB324;
    margin-bottom: 5px
}

.m-tags li a {
    color: #161616;
    margin-right: 4px
}

.m-tags li a:hover {
    color: #ffb324
}

.soz-b a {
    width: 32.6%;
    margin-right: 1%
}

.mult-i img,.soz-b a img,.upd-img {
    width: 100%
}

.soz-b a:last-child {
    margin: 0
}

.text-on-i {
    position: relative
}

.text-on-i .text {
    position: absolute;
    color: #fff
}

.btm {
    left: 0;
    bottom: 0
}

.upd-img {
    position: absolute;
    top: 0;
    left: 0
}

.items .item,.items .item .poster,section {
    position: relative
}

.upd-img a {
    width: 20%
}

.upd-img a img {
    width: 100%
}

.items {
    width: 98%;
    margin: 0 auto
}

.items .item img {
    width: 100%
}

.items .item .title {
    font-size: 1em;
    height: 2.5em;
    margin-bottom: 2%;
    overflow: HIDDEN;
    color: #161616
}

.m-cnt .text,.mult-posters {
    overflow: hidden
}

.artThema.items .item {
    width: 18%;
    margin: 0 1%
}

.multThema.items .item {
    margin: 0 .5%;
    width: 9%
}

.mult.items .item {
    margin-right: 2%;
    width: 23.5%
}

.mult.items .item:last-child {
    margin: 0
}

.art.items .item {
    margin-right: 2%;
    width: 32%
}

.art.items .item:last-child {
    margin: 0
}

.saund.items .item {
    margin-right: 2%;
    width: 23.5%
}

.saund.items .item:last-child {
    margin: 0
}

.primera,.primera .mult.items .item {
    width: 47%;
    margin-right: 6%
}

.primera section {
    z-index: 3
}

.procat section,section {
    z-index: 2
}

.primera .mult.items .item:last-child,.procat {
    margin: 0
}

.m-i {
    text-align: right;
    margin-top: 1%
}

#nav,#nav .wrap,#preloader,.cat .text .tbl span,.item .button,.poster-list,.quotes .title,.sktch .repost div span {
    text-align: center
}

.m-i:hover {
    color: #ffb324
}

.m-i a,.m-i span {
    color: #161616;
    border-bottom: 1px rgba(22,22,22,.53) solid
}

.m-i a:hover,.m-i span:hover {
    color: #ffb324;
    border-bottom: 1px #ffb324 solid
}

.item .button:hover a,.sbmBtn {
    color: #fff
}

.item .button,.sbmBtn {
    border: 1px solid #ffb324
}

.sbmBtn {
    background: #ffb324;
    font-size: 20px;
    padding: 5px;
    width: 51%;
    margin: 10px 0;
    height: 38px
}

.sbmBtn:focus {
    outline: 0
}

.player {
    width: 80%;
    margin: 30px auto
}

iframe {
    border: none
}

.art.items.big .item:nth-child(3n),.mult.items.big .item:nth-child(4n),.saund.items.big .item:nth-child(4n) {
    margin: 0
}

section {
    margin: 2% 0
}

.item .button {
    width: 100px;
    height: 30px;
    margin: 10px 0;
    display: table;
    cursor: pointer
}

.item .button:hover {
    background: #ffb324;
    color: #fff
}

.item .button .first-page,.item .button a {
    color: #ffb324;
    display: table-cell;
    vertical-align: middle
}

#preloader {
    margin: 1% 0
}

#preloader div:hover img {
    background: url(/public/img/button.gif);
    transform: rotate(380deg);
    background-size: cover
}

#preloader div:hover h3 {
    color: #ffb324
}

#preloader div h3 {
    font-size: 1em;
    color: #161616;
    font-weight: 300
}

#preloader div img {
    width: 25px;
    height: 25px;
    background: url(/public/img/rotateblack.gif);
    background-size: cover
}

#search-result {
    z-index: 5001;
    position: absolute;
    top: 0;
    bottom: 0
}

#search-result #result-wrap {
    padding: 5px;
    background: #fff;
    z-index: 5001;
    display: none;
    border: 1px solid #ffb324;
    border-top: none
}

#search-result #result-wrap .title {
    text-align: center;
    color: #ffb324
}

#search-result #result-wrap .item {
    font-size: .9em
}

#search-result #result-wrap .item a {
    color: #161616
}

#search-result #result-wrap .item a:hover {
    color: #ffb324
}

#search-result #result-wrap span {
    font-size: .8em;
    color: #9d9d9d
}

a.editLink {
    bottom: -24px;
    position: absolute
}

.cat,.m-cnt .poster {
    position: relative;
    float: left
}

.m-cnt .mult-content {
    width: 20%
}

.m-cnt .seasons-content {
    width: 30%
}

.m-cnt .poster {
    margin: 0 2% 1% 0
}

.m-cnt .poster img {
    width: 100%
}

.m-cnt .poster .jt {
    left: 100px;
    top: 0
}

.m-cnt .text .text-s {
    overflow: hidden
}

.m-cnt .text .t-btn {
    color: #ad66bb
}

.m-cnt .text #isReadMini {
    display: none
}

.cat {
    width: 32%;
    margin: 0 2% 2% 0
}

.cat .text,.cat img {
    width: 100%
}

.cat:hover .text {
    opacity: 0
}

.cat:nth-of-type(3) {
    margin: 0 0 2%
}

.cat .text {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0,0,0,.31);
    transition: all .5s
}

.cat .text .tbl {
    display: table;
    width: 100%;
    height: 100%
}

.cat .text .tbl span {
    display: table-cell;
    font-weight: 100;
    font-size: 2em;
    color: #fff
}

.sktch {
    position: relative;
    height: 250px;
    float: left;
    width: 400px
}

.sktch .repost {
    z-index: 10;
    position: absolute;
    left: 100px;
    bottom: 0;
    width: 195px;
    height: 60px
}

.sktch .repost div {
    position: relative;
    float: left;
    width: 32%;
    margin-right: 2%
}

.sktch .repost div span {
    display: none;
    position: absolute;
    visibility: visible;
    width: auto;
    height: auto;
    top: -4px;
    right: -3px;
    min-width: 8px;
    padding: 1px 4px;
    color: #fff;
    font-family: 'Open Sans',arial,sans-serif;
    font-size: 10px;
    font-weight: 600;
    background: #d60000;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.4);
    box-shadow: 0 2px 2px rgba(0,0,0,.4);
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    line-height: 14px;
    border: 2px solid #fff;
    z-index: 1
}

.sktch .repost div:last-child {
    margin: 0
}

.sktch .repost div img {
    width: 100%
}

.quotes .title {
    font-weight: 100;
    font-size: 1.4em
}

.quotes .item {
    width: 100%;
    height: 100px
}

.quotes .item:nth-of-type(2) {
    margin-bottom: 10px
}

.quotes .item .right {
    width: 83%;
    float: right
}

.quotes .item .right .author a {
    color: #161616
}

.quotes .item .right .author a:hover {
    color: #ffb324
}

.quotes .item .right .text:before {
    color: #bbb;
    content: "\201C";
    font-size: 2em;
    line-height: .1em;
    margin-right: .2em;
    vertical-align: -.4em
}

.quotes .item .right .text:after {
    color: #bbb;
    content: "\201D";
    font-size: 2em;
    line-height: .1em;
    vertical-align: -.45em
}

.quotes .item .poster {
    float: left;
    margin-right: 2%;
    width: 15%
}

.quotes .item .poster img {
    width: 100%;
    border-radius: 90px
}

.breadcrumbs {
    margin: 1% 3%
}

.breadcrumbs a {
    color: #ad66bb;
    font-size: 1em
}

.breadcrumbs .hov-bord {
    border-bottom: 1px #ad66bb solid
}

.breadcrumbs .hov-bord:hover {
    border-bottom: 1px #ffb324 solid
}

.breadcrumbs p {
    display: inline;
    margin: 0 1%
}

.content-and-poster .poster {
    float: left
}

.content-and-poster img {
    margin: 0 20px 20px 0
}

.poster-list img {
    margin: 5px 3px
}

#nav .wrap {
    display: inline-block
}

.comp .item .cnt .right .comp-rel,.comp .item .cnt .right .fond,.quote .author {
    text-align: right
}

#nav .wrap div {
    float: left;
    margin: 0 5px;
    color: #161616
}

#nav .wrap div.orange {
    color: #ffb324
}

#nav .wrap div.this-page a {
    color: #ffb324;
    cursor: default
}

#nav .wrap div a {
    cursor: pointer;
    color: #161616
}

#nav .wrap div a:hover {
    color: #ffb324
}

.content-and-poster,.m-cnt {
    padding: 0 20px
}

.serial-player {
    width: 80%;
    margin: 0 auto 10px
}

.serial-player #serial-iframe,.serial-player #serial-list {
    width: 100%
}

.quote blockquote {
    margin: .2em 10px;
    padding: .5em 10px
}

.quote blockquote:before {
    color: #bbb;
    content: "“";
    font-size: 3em;
    line-height: .1em;
    margin-right: .2em;
    vertical-align: -.4em
}

.quote blockquote:after {
    color: #bbb;
    content: "”";
    font-size: 3em;
    line-height: .1em;
    vertical-align: -.45em
}

.quote .author a {
    padding-right: 15%;
    font-size: 1.2em;
    color: #161616
}

.quote .author a:hover {
    color: #ffb324
}

.ndButInfo:hover .butInfo {
    display: block
}

.ndButInfo .butInfo {
    display: none;
    position: absolute;
    width: 28px;
    height: 28px;
    top: 15px;
    left: 15px;
    background: url(/public/img/butInfo.png) no-repeat;
    cursor: pointer
}

.mult-posters a,.mult-posters a img {
    display: inline-block
}

.mult-posters {
    height: 134px
}

.mult-posters a {
    margin: 0 3px
}

.comp {
    width: 80%;
    margin: 0 auto
}

.comp .item .cnt,.comp .item .top {
    margin-bottom: 1%
}

.comp.full .item .cnt .right {
    display: inline;
    width: 100%;
    float: none
}

#mask,.jt,.mdl {
    display: none
}

.comp .item .top .title {
    float: left;
    width: 48%;
    margin-right: 2%
}

.comp .item .top .date {
    float: right;
    width: 50%;
    font-size: .8em;
    text-align: right
}

.comp .item .cnt .left {
    float: left;
    width: 48%;
    margin-right: 2%
}

.comp .item .cnt .left img {
    width: 100%
}

.comp .item .cnt .right {
    float: right;
    width: 50%
}

.comp .item .bottom,.comp-items.winner,.comt-part .item {
    text-align: center
}

.comp .item .cnt .right .comp-rel a {
    border-bottom: 1px rgba(22,22,22,.76) solid;
    color: #161616
}

.comp .item .cnt .right .comp-rel a:hover {
    color: #ffb324;
    border-bottom: 1px #ffb324 solid
}

.separator {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,transparent,#ffb324,transparent);
    background-image: -moz-linear-gradient(left,transparent,#ffb324,transparent);
    background-image: -ms-linear-gradient(left,transparent,#ffb324,transparent);
    background-image: -o-linear-gradient(left,transparent,#ffb324,transparent);
    margin: 40px 0
}

.sbmBtnBlack {
    font-size: .9em;
    color: #ffb324;
    background: #fff
}

.sbmBtnBlack:hover {
    color: #fff
}

.comp-items.picture .comp-item {
    float: left
}

.comp-items.picture .comp-item .place {
    width: 10%;
    float: left
}

.comp-items.picture .comp-item .info {
    width: 89.5%;
    margin-left: .5%;
    float: right;
    text-align: center
}

.comp-items.picture .comp-item .info a {
    color: #161616
}

.comp-items.picture .comp-item .info a:hover {
    color: #ffb324
}

.comp-items.picture .comp-item .info img {
    width: 100%
}

.comp-items.picture.two .comp-item {
    width: 30%;
    margin: 1.5%
}

.comp-items.picture.two .comp-item:first-of-type {
    margin-left: 17%
}

.comp-items .item {
    float: left
}

.comt-part .item {
    width: 33%;
    float: left;
    padding: .5% 1%
}

.comt-part .item img {
    width: 100%
}

.comt-part .item a {
    font-size: 1em;
    color: #161616
}

.comt-part .item a:hover {
    color: #ffb324
}

.comt-part.picture img {
    margin: 2% 0
}

.comt-part.citat .item {
    width: 100%;
    text-align: left;
    margin: 2% 0
}

.feedback .form {
    margin: 1% 0
}

.feedback .nd_red {
    color: #e82525;
    margin-left: 4px
}

.feedback .msg {
    color: green;
    margin: 1% 0
}

.feedback button {
    width: 188px;
    font-size: 1.2em
}

.feedback input,.feedback textarea {
    height: 38px;
    font-size: 20px;
    margin: 10px 0;
    padding: 5px;
    width: 51%;
    color: #b1aeae;
    border: 1px solid #ccc
}

.feedback textarea {
    width: 80%;
    height: 100px
}

.feedback label {
    font-size: .9em;
    color: #161616
}

.jt {
    z-index: 99999;
    position: absolute;
    background: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,.5);
    border: 2px solid #FFB324;
    min-height: 80px
}

.jt:after,.jt:before {
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none
}

.jt:after {
    border-color: rgba(136,183,213,0);
    border-width: 33px;
    margin-top: -33px
}

.jt:before {
    border-color: rgba(194,225,245,0);
    border-width: 36px;
    margin-top: -36px
}

.jt.right:after,.jt.right:before {
    left: 100%;
    border-left-color: #FFB324
}

.jt.right:after {
    border-left-color: #fff
}

.jt.left:after,.jt.left:before {
    right: 100%;
    border-right-color: #FFB324
}

.jt.left:after {
    border-right-color: #fff
}

.nubbin {
    margin: 5px auto -1px
}

.jtc {
    padding: 10px 10px 5px;
    font-size: 12px;
    width: 350px
}

.jtc p {
    padding: 0;
    cursor: default;
    font-size: 15px
}

.jtc p b {
    font-family: "Times New Roman",Georgia,Serif;
    font-weight: 600
}

.mdl {
    position: fixed;
    top: 32.5%;
    left: 32.5%;
    min-width: 35%;
    z-index: 102;
    background-color: #fff
}

.mdl .hdr {
    position: relative;
    background-color: #ffb324
}

.mdl .hdr .title {
    font-weight: 100;
    font-size: 1.5em;
    width: 100%;
    float: left;
    text-align: center;
    color: #fff;
    line-height: 32px
}

.mdl .hdr .btn {
    width: 10%;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    font-family: fontello;
    line-height: 25px
}

.mdl .cnt {
    min-height: 100px
}

.mdl .ftr {
    min-height: 30px;
    border-top: 1px solid #c9cbcb;
    background-color: #ebebeb;
    text-align: center
}

.mdl .ftr .sbmBtn {
    width: 25%
}

#mask {
    background-color: #000;
    opacity: .7;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101
}

.office,.reg-form {
    text-align: center;
    width: 60%;
    margin: 10px auto
}

.office .userName {
    font-size: 1.2em
}

.reg-form .email,.reg-form .pass {
    font-size: 20px;
    padding: 5px;
    width: 100%;
    margin: 10px 0;
    height: 38px;
    color: #b1aeae;
    border: 1px solid #ccc
}

#preloader h3,footer a,h1 a,h2 a {
    color: #161616
}

#wideImgCont,.hidBlock {
    position: relative
}

#wideImgWrap {
    position: absolute;
    top: 0
}

#wideImg {
    position: absolute;
    background-size: cover
}

.bottomBlock,.leftBlock,.rightBlock,.topBlock {
    background: #f2f2f2;
    position: absolute
}

.rightBlock {
    right: 0;
    top: 0
}

.leftShadow {
    box-shadow: 0 0 40px rgba(0,0,0,.1)
}

.leftBlock,.topBlock {
    left: 0;
    top: 0
}

.bottomBlock {
    left: 0;
    bottom: 0
}

.mainH1 {
    position: relative;
    z-index: 2
}

@media (max-width: 1023px) {
    .content,.sidebar {
        width:100%
    }

    .sidebar .sdbBlock {
        width: 46%;
        margin: 2%;
        float: left
    }
}

@media (max-width: 599px) {
    .primera-with-procat .primera,.primera-with-procat .procat {
        width:100%
    }

    section .mult.items .item {
        width: 46%;
        margin-top: 2%;
        margin-right: 2%
    }

    section .mult.items .item:last-child {
        margin-top: 2%;
        margin-right: 0
    }

    section .art.items .item {
        width: 46%;
        margin-top: 2%;
        margin-right: 2%
    }

    section .art.items .item:nth-child(2) {
        margin-top: 2%;
        margin-right: 0
    }

    section .art.items .item:nth-child(3) {
        display: none
    }
}

@media (min-width: 479px) and (max-width:599px) {
    .sidebar .sdbBlock {
        width:96%;
        margin: 2%;
        float: left
    }
}

.cat img,.live-wrap .item img,.mult-i img,.rd-a .image-wrap img,.sm-l img,.tckts img {
    display: block
}

.com-f .top-b .email-tylt {
    width: inherit!important;
    text-align: left!important;
    margin-left: 5px;
    position: relative
}

.sbmBtnBlack:hover {
    background: #ffb324!important
}

.tyltFooter {
    position: relative;
    display: inline-block
}

#preloader div,#preloader div h3 {
    display: inline
}

.oRazdele {
    min-width: 420px;
    font-size: 12px
}

h3 {
    font-weight: 100;
    margin: 1%;
    font-size: 1.5em
}

.content .live-wrap .item .black {
    z-index: 12;
    opacity: .1
}

.feedback {
    margin: 0 3%
}

.na-sladkoe .item {
    margin-bottom: 2%
}

#preloader h3 {
    font-size: 1em;
    font-weight: 300
}

#preloader div {
    text-align: center
}

#preloader img {
    width: 25px;
    height: 25px;
    background: url(/public/img/rotateblack.gif);
    background-size: cover
}

#wrapPlayer iframe {
    width: 100%;
    height: 100%
}

.template1.content img {
    margin: 0
}

.template1.content iframe {
    vertical-align: top
}