body .long-image {
    width: initial;
    height: initial
}

.tckts {
    width: 34%
}

.tckts img {
    width: 100%
}

.mdl .tickets .left {
    width: 75%;
    float: left;
    padding: 2%
}

.mdl .tickets .left div {
    font-size: 1.2em;
    margin: 15px 0
}

.mdl .tickets .left textarea {
    width: 100%;
    min-height: 60px
}

.mdl .tickets .right {
    width: 25%;
    float: right
}

.mdl .tickets .right img {
    position: relative;
    top: -10;
    width: 100%
}
