* {
 margin: 0px;
 padding: 0px;
}
body {
 background: url(../img/fon.jpg);   
 height: 100%;
}
#header {
 height: 300px;   
}
#header>div {
 height: 100px;  
 width: 100%;
}
#header>div>div>div>img {
 position: relative;
 top: 20px;
 margin: auto;
}
#header>div>div>div>ul {
 display: table-row;
}
#header>div>div>div>ul>li {
 display: table-cell;
 padding: 8px;
 position: relative;
 top: 50px;
}
#header>div>div>div>ul>li>a {
 font-family:Microsoft Sans Serif;
 text-decoration: none;
 color:#722C91;   
 font-size: 13px;
}
#header>div>div>div>ul>li>a:hover {
  color: #F49E00;
}
#header>div>div>div>ul>li>a>img {
    position: relative;
    bottom: 5px;
}
#header>div>div>div>form>button {
 width: 41px;
 height: 30px;
 border: none;
 background: none;
 z-index: 100;
 position: relative;
 bottom: 6px;
 left: 860px;
}
.pousk {
 position: relative;
 left: 50px;
}
#header>div>div>div>form>input {
 padding-left: 40px;
 border: 1px solid #722C91;
 border-radius: 10px;
 height: 30px;
 width: 200px;
 background: none;
 position: relative;
 bottom: 6px;
 left: 860px;
 z-index: 50;
}
#header>div>div>div>hr {
 position: relative;
 top: 30px;
}
.top {
 position: relative;
 bottom: 8px;
}
hr {
 padding: 4px;
 border: 1px solid #B1B1B1;
 border-radius: 15px;
 background:#EAEAEA;
 box-shadow: 1px 1px 6px 1px #B1B1B1;
}
#content>div {
 width: 100%;   
}
#content>div>div>div>h1 {
 color:#722C91;    
 text-align: center;
 font-size: 80px;
}
#content>div>div>div>hr {
 position: relative;
 top: 40px;
}
#content>div>div>div>p>a {
 color:#722C91; 
 position: relative;
 top: 45px;
 font-size: 30px;
 z-index: 150;
 text-decoration: none;
}
#content>div>div>div>img {
 position: relative;
 top: 50px;
 left: 100px;
 margin: 30px;
 float: left;
 width: 320px;
}
#mini>div>div>div>img {
 width: 200px;
 float: left;
 position: relative;
 top:50px;
 margin: 12px;
}
#content>div>div>div>hr.min {
 width: 20%;
 margin: auto;
 position: relative;
 top: 120px;
}
#cent {
 position: relative;
 top: 150px;
}
#cent>div>div>div>p {
 text-align: center; 
}
#cent>div>div>div>p>a {
 color: #722C91;
 text-decoration: none;
}
#down {
 position: relative;
 bottom: 50px;  
}
#down>div>div>div>a>img {
 width: 40px !important;
 height: 40px;
 position: relative;
 left: 550px;
}
.down {
 position: relative;
 top: 200px;
}
#down_form {
 position: relative;
 top: 250px;
}
#down_form>div>div>div>form>input.one {
  position: relative;
  top: 10px;
  margin: 5px;
  height: 70px;
  width: 250px;
  font-size: 20px; 
  line-height: normal;
  padding-left: 25px;
  box-shadow: 1px 1px 6px 1px #B1B1B1;
}
#down_form>div>div>div>form>input.two {
 width: 600px;
 height: 200px;
 font-size: 20px; 
 line-height: normal;
 padding-left: 25px;
 padding-bottom: 150px;
 box-shadow: 2px 1px 8px 5px #B1B1B1;
}
#down_form>div>div>div>form>button {
 width: 250px;
 height: 70px;
 background: white;
 box-shadow: 2px 1px 8px 5px #B1B1B1;
 position: relative;
 top: 50px;
 left: 450px;
}
#footer {
  position: relative;
  top: 350px;
}
#footer>div {
 width: 100%;   
}
#tex>p>a {
 position: relative;
 top: 100px;
 left: 50px;
 color: #722C91;
 text-decoration: none;
 font-size: 20px;
}
#yell>img {
 position: relative;
 left: 750px;
 bottom: 80px;
}