@media only screen and (min-width:960px) and (max-width: 1199px) {
#header>div>div>div>form>button {
 position: relative;
 left: 0px !important;
 top: 30px;
}
#header>div>div>div>form>input {
 position: relative;
 left: 0px !important;
 top: 30px;
}
#content>div>div>div>img {
 position: relative;
 top: 50px;
 left:0px !important;
 margin: 10px !important;
 width: 250px !important;
}
#mini>div>div>div>img {
 width: 130px !important;
 margin: 5px !important;
}
#down>div>div>div>a>img {
 position: relative;
 left: 450px !important;
}
#down_form>div>div>div>form>input.one {
  margin-bottom: 20px !important;
}
#down_form>div>div>div>form>input.two {
 width: 500px !important;
 position: relative;
 top: 0px !important;
}
#down_form>div>div>div>form>button {
 width: 250px;
 height: 70px;
 position: relative;
 top: 8px !important;
 left: 0px !important;
}
#yell>img {
 position: relative;
 left: 500px !important;
}
}
@media only screen and (min-width:768px) and (max-width: 959px) {
#header>div>div>div>ul {
 display: table-cell !important;
 position: relative;
 left: 50px !important;
}
#header>div>div>div>ul>li {
 display: table-row !important;
 padding: 10px !important;
}
#header>div>div>div>form>button {
 position: relative;
 left: 0px !important;
 top: 30px;
}
#header>div>div>div>form>input {
 position: relative;
 left: 0px !important;
 top: 30px;
}
#content>div>div>div>img {
 position: relative;
 top: 50px;
 left:0px !important;
 margin: 10px !important;
 width: 200px !important;
}
#mini>div>div>div>img {
 width: 130px !important;
 margin: 5px !important;
}
#down>div>div>div>a>img {
 position: relative;
 left: 340px !important;
}
#down_form>div>div>div>form>input.one {
  margin-bottom: 20px !important;
}
#down_form>div>div>div>form>input.two {
 width: 500px !important;
 position: relative;
 top: 0px !important;
}
#down_form>div>div>div>form>button {
 width: 250px;
 height: 70px;
 position: relative;
 top: 8px !important;
 left: 0px !important;
}
#yell>img {
 position: relative;
 left: 200px !important;
 top: 100px !important;
}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
#header>div>div>div>ul {
 display: table-cell !important;
 position: relative;
 top: 50px !important;
 left: 200px !important;
}
#header>div>div>div>ul>li {
 display: table-row !important;
 padding: 10px !important;
}
#header>div>div>div>form>button {
 position: relative;
 left: 150px !important;
 top: 45px;
}
#header>div>div>div>form>input {
 position: relative;
 left: 150px !important;
 top: 45px;
}
#mini>div>div>div>img {
 position: relative;
 left: 200px;
 width: 250px !important;
 margin: 10px !important;
 float: none;
}
#down>div>div>div>a>img {
 position: relative;
 left: 300px !important;
}
#down_form>div>div>div>form>input.one {
  margin-bottom: 20px !important;
}
#down_form>div>div>div>form>input.two {
 width: 500px !important;
 position: relative;
 top: 5px !important;
}
#down_form>div>div>div>form>button {
 width: 250px;
 height: 70px;
 position: relative;
 top: 8px !important;
 left: 0px !important;
}
#yell>img {
 position: relative;
 left: 100px !important;
 top: 100px !important;
}
}
@media only screen and (max-width:767px) {
#header>div>div>div>ul {
 display: table-cell !important;
 position: relative;
 top: 30px !important;
 left: 45px !important;
}
#header>div>div>div>ul>li {
 display: table-row !important;
 padding: 10px !important;
}
#header>div>div>div>form>button {
 position: relative;
 left: 0px !important;
 top: 45px;
}
#header>div>div>div>form>input {
 position: relative;
 left: 0px !important;
 top: 45px;
}
#mini>div>div>div>img {
 position: relative;
 left: 0px !important;
 width: 250px !important;
 margin: 10px !important;
 float: none;
}
#down>div>div>div>a>img {
 position: relative;
 left: 0px !important;
}
#down_form>div>div>div>form>input.one {
  margin-bottom: 20px !important;
}
#down_form>div>div>div>form>input.two {
 width: 300px !important;
 position: relative;
 top: 5px !important;
}
#down_form>div>div>div>form>button {
 width: 250px;
 height: 70px;
 position: relative;
 top: 8px !important;
 left: 0px !important;
}
#yell>img {
 position: relative;
 left:30px !important;
 top: 100px !important;
}
#content>div>div>div>h1 {
 font-size: 40px !important;
}
#content>div>div>div>img {
 position: relative;
 left: 00px !important;
 width: 250px !important;
}
#content>div>div>div>hr.min {
 width: 60% !important;
}
#down>div>div>div>a>img {
 position: relative;
 left: 80px !important;
}
#down_form>div>div>div>form>input.two {
 width: 250px !important;
 position: relative;
 top: 5px !important;
}
}