#valid-loader {
  height: 50px;
  width: 50px; }

#content_ifr {
  height: 300px !important; }

#pageinformation {
  font-size: 13px;
  position: fixed;
  right: 0;
  bottom: 0;
  opacity: 0.8;
  background: #fff;
  border: 1px solid black;
  border-radius: 10px;
  margin-right: -10px;
  margin-bottom: -10px;
  padding: 10px;
  z-index: 999; }
  #pageinformation #pageinformationHide {
    text-align: center;
    cursor: pointer; }
    #pageinformation #pageinformationHide:hover {
      color: #FFB324; }
  #pageinformation #pageinformationShow {
    text-align: center;
    font-size: 10px;
    cursor: pointer;
    display: none; }
    #pageinformation #pageinformationShow:hover {
      color: #FFB324; }

html {
  background: #f2f2f2; }

body {
  width: 90%;
  margin: 0 auto;
  background: #f2f2f2;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1); }

#docId {
  display: none; }

#mask, .mdl {
  display: none; }

.menu {
  padding: 0; }

#menu-wrap {
  padding-left: 0;
  padding-right: 0; }

.bottom5 {
  margin-bottom: 5px; }

.bottom7 {
  margin-bottom: 7px; }

.bottom10 {
  margin-bottom: 10px; }

.bottom15 {
  margin-bottom: 15px; }

.bottom17 {
  margin-bottom: 17px; }

.bottom30 {
  margin-bottom: 30px; }

.margin3 {
  margin: 3px; }

.footer {
  padding: 2%;
  border-top: 1px solid #C9CBCB;
  text-align: center;
  min-height: 100px;
  margin-top: 30px; }

.administration {
  position: fixed;
  background: #fff;
  opacity: .9;
  left: 0;
  bottom: 0;
  text-align: left;
  font-size: 10px;
  padding: 10px;
  border-top-right-radius: 20px;
  box-shadow: 1px 5px 5px #000;
  z-index: 3; }
  .administration .group .group_title {
    font-size: 12px; }
  .administration .group a {
    font-size: 11px; }
  .administration .main_title {
    font-size: 13px; }
  .administration a {
    color: #ad66bb;
    text-decoration: none; }
    .administration a:hover {
      color: #ffb324; }

.removeRes {
  cursor: pointer; }

.titleDeleteRes {
  text-decoration: line-through; }

.compactCheckbox {
  height: 12px;
  margin: 0; }

#fixedLoader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.6;
  background: #FFFFFF;
  font-size: 20px;
  display: none; }

#tagTableMain .date {
  min-width: 100px; }

#adminPanel #adminPanelContent {
  display: none; }

#adminPanel #adminPanelHide {
  text-align: center;
  cursor: pointer;
  display: none; }
  #adminPanel #adminPanelHide:hover {
    color: #FFB324; }

#adminPanel #adminPanelShow {
  text-align: center;
  font-size: 10px;
  cursor: pointer; }
  #adminPanel #adminPanelShow:hover {
    color: #FFB324; }

.adminBlock {
  margin: 5px 0; }

.adminSeparator {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, transparent, #ffb324, transparent);
  background-image: -moz-linear-gradient(left, transparent, #ffb324, transparent);
  background-image: -ms-linear-gradient(left, transparent, #ffb324, transparent);
  background-image: -o-linear-gradient(left, transparent, #ffb324, transparent); }
