.live-wrap .item{cursor:pointer;width:46%;position:relative;margin:2%;float:left}.live-wrap .item img{width:100%}.live-wrap .item .black{position:absolute;left:0;z-index:10;width:100%;height:100%;opacity:.2;background-color:#000}.live-wrap .item .l-text{z-index:11;position:absolute;left:0;font-size:40px;color:#fff;width:100%}.live-wrap .item .second-title{font-size:28px;display:none}
