@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=cyrillic);

* {
    margin: 0;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0
}

a {
    text-decoration: none;
    color: #555
}

article,aside,figure,footer,header,main,nav,section {
    display: block
}

input,input::-webkit-input-placeholder,textarea,textarea::-webkit-input-placeholder {
    font-family: 'Roboto',sans-serif;
    border: 0;
    outline: 0
}

input,input::-moz-placeholder,textarea,textarea::-moz-placeholder {
    font-family: 'Roboto',sans-serif;
    border: 0;
    outline: 0
}

input,input:-ms-input-placeholder,input::-ms-input-placeholder,textarea,textarea:-ms-input-placeholder,textarea::-ms-input-placeholder {
    font-family: 'Roboto',sans-serif;
    border: 0;
    outline: 0
}

input,input::placeholder,textarea,textarea::placeholder {
    font-family: 'Roboto',sans-serif;
    border: 0;
    outline: 0
}

input[type=submit] {
    cursor: pointer
}

body {
    color: #555;
    font-family: 'Roboto',sans-serif
}

section {
    position: relative
}

.show_md,.show_sm,.show_xs {
    display: none
}

.padding_left_none {
    padding-left: 0!important
}

.padding_top_none {
    padding-top: 0!important
}

.padding_right_none {
    padding-right: 0
}

.margin_left_none {
    margin-left: 0
}

.margin_right_none {
    margin-right: 0
}

.no_margin {
    margin: 0
}

.no_padding {
    padding: 0
}

.circle_small_img {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 32px;
    height: 32px
}

.form form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 16px
}

.form input::placeholder {
    color: #aaa;
    font-size: 16px
}

.form button,.form input,.header_form .form button,.header_form .form input {
    height: 48px
}

.form input {
    -webkit-box-flex: 400;
    -webkit-flex-grow: 400;
    -ms-flex-positive: 400;
    flex-grow: 400;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 3px;
    border: 1px solid #e8e8e8;
    border-right: none;
    color: #555;
}

.form button {
    width: 56px;
    background: orange;
    cursor: pointer;
    border: 0;
    outline: 0
}

.form button i {
    font-size: 20px;
    color: #fff
}

.form .input_title {
    margin-top: 7px;
    color: #bbb;
    font-size: 15px
}

.form .svg,.form img,header .form form button .svg {
    height: 24px;
    width: 24px;
    fill: #fff
}

.header_form .logo_block {
    padding-right: 16px;
    width: 22.5%
}

.header_form .form {
    padding: 0 7.5px
}

.header_form,.header_form .menu_block,.header_form .row {
    height: 75px
}

.content,header .form {
    width: 55%
}

header .form form {
    margin-top: 0
}

.form input,header .form form input {
    font-size: 16px
}

header .form form button {
    background: #ff9b26
}

header .form form button img {
    height: 24px;
    width: 24px
}

header .row {
    height: 55px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

header .logo_block {
    padding-bottom: 2px
}

header .logo_block h4 {
    font-weight: 700;
    color: #269bff;
    font-size: 22px;
    user-select: none;
    padding-top: 2px
}

header .logo_block h4 span {
    color: #b2dbff;
    font-weight: 300
}

header .menu_block {
    cursor: pointer;
    margin-left: auto;
    width: 48px;
    height: 55px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

header .menu_block .icon-menu {
    font-size: 24px
}
header .menu_block.active .icon-menu:before {
    display: none;
}
header .menu_block.active .icon-menu {
    background: url('../img/close-button.svg');
    background-size: contain;    
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
}


header .menu_block.active {
    background: #efefef
}

header .dropdown_menu {
    display: none;
    position: absolute;
    top: 100%;
    background: #efefef;
    left: 0;
    width: 100%;
    padding: 24px;
    z-index: 50
}

.content .info_block .social_block,header .dropdown_menu .menu_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

header .dropdown_menu .menu_list a {
    margin-bottom: 16px
}
header .dropdown_menu .menu_list a:nth-child(2):before {
    content: '-';
    font-size: 16px;
    margin: 0 10px;
}

header .dropdown_menu .copyright {
    color: #aaa;
    font-size: 14px;
    margin-top: -31px;
    text-align: right;
}

.content {
    margin: 0 auto
}

.content button,.content input,header {
    height: 55px
}

.content .block_title {
    background: #fdffe4;
    margin-top: 30px;
    height: 40px;
    line-height: 41px;
    text-align: center
}

.info_desc {
    font-size: 16px;
    line-height: 1.4;
    padding-bottom: 40px
}

.content .info_block h4 {
    font-size: 16px;
    padding-bottom: 4px
}

.content .info_block .social_block {
    -webkit-box-pack: end;
    -webkit-justify-content: center;
    -ms-flex-pack: end;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-left: auto;
    padding-bottom: 40px;
}

.content .info_block .social_block a {
    margin-left: 8px;
    display: block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: #fff;
    line-height: 40px;
    text-align: center
}

.content .info_block .social_block a:hover {
    opacity: .8
}

.facebook {
    background: #3b5998
}

.twitter {
    background: #55acee
}

.pinterest {
    background: #cb2027
}

.google_plus {
    background: #db4437
}

.content .info_block .social_block p {
    color: #aaa;
    font-weight: 500;
    line-height: 42px;
    margin-right: 4px
}

.content .download_block_title {
    background: #666;
    margin-top: 32px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    padding-left: 20px;
    color: #fff;
    font-weight: 700
}

.content .video_content {
    margin-top: 0
}

.content .download_buttons,.content .video_content .video_title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
}

.content .video_content .video_title {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.content .video_content .video_title .video_thumbnail img {
    width: 100px;
    height: 100px;
    -o-object-fit: cover;
    object-fit: cover
}

.content .video_content .video_title .video_desc {
    width: -webkit-calc(100% - 100px);
    width: calc(100% - 100px);
    padding-left: 16px;
    margin-top: 30px
}

.content .video_content .video_title .video_desc h4 {
    font-size: 16px;
    color: #555;
    font-weight: 500;
    width: 100%
}

.content .download_buttons {
    padding: 0 50px;
    font-weight: 700;
    margin-top: 48px
}

.content .download_buttons a {
    display: block;
    padding: 12px 25px;
    color: #fff;
    background: #31c00b;
    margin-bottom: 12px
}

.content .download_buttons p {
    text-align: center;
    margin: 4px 0
}

.content .download_buttons .second {
    margin-left: auto
}

.content .text_block {
    background: #efefef;
    margin-top: 32px;
    padding: 20px;
}

.loader {
    margin-top: 2px;
}

.content .text_block h4 {
    padding-top: 10px
}

.content .text_block p {
    padding-bottom: 10px
}

.content .video_content .video_title .video_desc h4,.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis
}

.ellipsis,.slider_item {
    width: 100%
}

.slider_item img {
    width: 100%;
    height: 300px;
    object-fit: cover
}

.slider {
    margin: 0 -20px
}

.carousel-status {
    text-align: center;
    width: 100%
}

.social_download_page {
    margin-top: 48px
}

.full_width {
    width: 100%!important
}

.h1_title {
    font-weight: 400;
    font-size: 16px;
    background: #fdffe4;
    margin-top: 30px;
    height: 40px;
    line-height: 41px;
    text-align: center
}

.error_block {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    background-color: #ffeaea;
    color: #555;
    display: none
}

.mob_text {
    display: none;
}

.orange-button {
    width: 53px;
    line-height: 53px;
    height: 53px;
    text-align: center;
    border: 1px solid orange;
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    font-size: 22px;
    color: #fff;
    background: orange;
    margin-right: 10px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease
}

.orange-button:active,.orange-button:hover {
    cursor: pointer;
    background: 0 0;
    color: orange
}

.error-p {
    text-align: center;
    margin-top: 15px
}

.contact-us-form {
    display: block;
    margin: 20px auto 0;
    width: 100%;
    max-width: 600px;
    transition: all .3s
}

.contact-us-form.hidden {
    display: none
}

.contact-us-form .input-form {
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 10px
}

.contact-us-form input.input-form {
    border: 0;
    border-bottom: 1px solid #dedede
}

.contact-us-form p {
    text-align: right
}

.contact-us-form button[type=submit] {
    margin: 0;
    width: auto;
    font-size: 16px
}

.contact-form-thanks {
    display: table;
    width: 100%;
    height: 309px;
    transition: all .3s
}

.contact-form-thanks.hidden {
    display: none
}

.contact-form-thanks>div {
    display: table-cell;
    vertical-align: top;
    padding-top: 20px;
    font-size: 24px
}

.contact-form-thanks>div>div {
    background: #fff8ea;
    color: orange;
    border: 1px solid orange;
    padding: 18px 10px;
    font-size: 15px;
    text-align: center
}

.input-form {
    border: 1px solid #dedede;
    background: #fff;
    font-family: 'Roboto',sans-serif;
    padding: 10px;
    font-size: 16px;
    border-radius: 0
}

.user_info_block {
    margin-top: 40px;
}

.user_img, .user_info {
    display: inline-block;
    vertical-align: middle;
}
.user_img img {
    width: 60px;
    border-radius: 100%;
}
.user_info {
    font-size: 16px;
    margin-left: 10px;
}
.stories_count {
    margin-top: 5px;
}
.stories_block {
    margin: 30px -10px 0;
    font-size: 0;
}
.stories {
    display: inline-block;
    width: 50%;
    padding: 0 10px;
}
.stories_time {
    color: #bbb;
    font-size: 15px;
}
.preview {
    margin-top: 10px;    
    display: block;
}
.preview img {
    width: 100%;
}
.download_button {
    display: block;
    background: #4aac02;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin: 10px 0 20px;
    font-size: 16px;
    position: relative;
}

.hidden {
    display: none!important;
}
svg path,
svg rect{
  fill: #fff;
}


/***********lightbox***********/
.lightbox-p {
    opacity: 0;
    visibility: hidden;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 9999999999999999;
}
body.lightbox-view {
    overflow: hidden;
}
body.lightbox-view .lightbox-p {
    opacity: 1;
    visibility: visible;
}
.lightbox-p .lightbox-bg {
    background: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
}
.lightbox-p .lightbox {
    text-align: center;
    z-index: 12;
    height: 100%;
    display: table;
}
.lightbox-p .lightbox .lightbox-media-place {
    vertical-align: middle;
    display: table-cell;
}
.lightbox-p .lightbox .lightbox-media-place > div {
    max-height: 100vh;
}
.lightbox-p .lightbox .lightbox-close {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 25px;
    top: 25px;
    z-index: 12;
    cursor: pointer;
    color: #fff;
    background: #000;
    box-shadow: 0 0 10px #000;
    line-height: 34px;
    font-size: 25px;
    text-align: center;

    background-image: url('../img/cancel-music.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
.lightbox-p .lightbox .lightbox-close span {
    position: relative;
    right: -0.7px;
    top: 1px;
}
.lightbox-p .lightbox img {
    max-width: 100%;
    max-height: 100vh;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
}
.lightbox-p .lightbox video {
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
}
/***********lightbox***********/

.icon-search-button {
    background: url(../img/search.svg);
    display: block;
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
}
.icon-download {
    background: url(../img/download.svg);
    display: block;
    width: 18px;
    height: 22px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 16px;
    right: 25px;
}

@media only screen and (min-width:600px) {
    .hidden_pc {
        display: none!important;
    }
}

@media only screen and (max-width:600px) {
    .hidden_mob {
        display: none!important;
    }
    .form input {
        width: 100%;
        border: 1px solid #e8e8e8
    }

    .form button {
        width: 100%;
        margin-top: 10px;
        position: relative
    }

    .form button,.form form,.form input,.mob_text {
        display: block
    }

    .form button i {
        position: absolute;
        right: 15px;
        top: 16px
    }

    .mob_text {
        font-size: 18px;
        color: #fff;
        font-weight: 700;
        padding-top: 3px
    }
    .stories {
        width: 100%;    
        margin-bottom: 20px;
    }
    header {
        border-bottom: 1px solid #f4f4f4;
    }
    header .dropdown_menu .menu_list {
        justify-content: center;    
        margin-top: 10px;
    }
    header .dropdown_menu .copyright {
        text-align: center;
        margin-top: 0;
    }
}